body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Blanco */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #cec4b0; /* Cefe */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    overflow: hidden;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carousel img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.content {
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px; 
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000; 
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #333;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #000; 
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.separator {
    margin: 0 10px;
    color: #000; 
}

@media screen and (max-width: 768px) {
    body {
        background-color: #c5e7ff;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .content {
        padding: 20px 40px;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #cde6d3; 
    }
}
